.light-gray-background{
    -fx-background-color: #c2c2c2;
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
    -fx-prompt-text-fill: white;
}

.radius{
    -fx-background-radius: 100px;
}

#mainChat{
    -fx-background-image: url('chat-background.png');
    -fx-background-size: cover;
}

#mainLogin{
    -fx-background-color: linear-gradient(#00ffff, #00d4ff);
}

#UsernameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#PasswordField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LoginButton{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-background-radius: 10px;
}

#LoginButton:hover{
    -fx-background-color: wheat;
    -fx-background-radius: 20px;
}