.blue-background{
    -fx-background-color: #2b2bff;
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}

.radius{
    -fx-background-radius: 100px;
}

#mainChat{
    -fx-background-image: url('chat-background.png');
    -fx-background-size: cover;
}

#mainLogin{
    -fx-background-color: linear-gradient(#00ffff, #00d4ff);
}

#UsernameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#PasswordField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LoginButton{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-background-radius: 10px;
}

#LoginButton:hover{
    -fx-background-color: wheat;
    -fx-background-radius: 20px;
}

#mainRegister{
    -fx-background-color: linear-gradient(#00d4ff, #00ffff);
}

#FirstNameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LastNameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#ConfirmPasswordField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LabelHello{
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

#mainDashboard{
    -fx-background-color: #0000b8;
}

#ShowFriendsButton{
    -fx-background-color: #0000b8;
    -fx-background-radius: 20px;
}

#AddFriendsButton{
    -fx-background-color: #0000b8;
    -fx-background-radius: 20px;
}

#FriendshipRequestsButton{
    -fx-background-color: #0000b8;
    -fx-background-radius: 20px;
}

#eventsButton{
    -fx-background-color: #0000b8;
    -fx-background-radius: 20px;
}

#settingsButton{
    -fx-background-color: #0000b8;
    -fx-background-radius: 20px;
}

#LogoutButton{
    -fx-background-color: #0000b8;
    -fx-background-radius: 20px;
}