.search-background{
    //-fx-background-color: #2b2bff;
    -fx-background-color: white;
}

.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
}

.radius{
    -fx-background-radius: 100px;
}

#mainChat{
    -fx-background-image: url('chat-background.png');
    -fx-background-size: cover;
}

#mainLogin{
    -fx-background-color: linear-gradient(#00ffff, #00d4ff);
}

#UsernameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#PasswordField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LoginButton{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 22px;
    -fx-background-radius: 10px;
}

#LoginButton:hover{
    -fx-background-color: wheat;
    -fx-background-radius: 20px;
}

#mainRegister{
    -fx-background-color: linear-gradient(#00d4ff, #00ffff);
}

#FirstNameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LastNameTextField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#ConfirmPasswordField{
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-radius: 10px;
}

#LabelHello{
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

#mainDashboard{
    -fx-background-color: #003bba;
}

#ShowFriendsButton{
    -fx-background-color: #003bba;
    -fx-background-radius: 20px;
}

#AddFriendsButton{
    -fx-background-color: #003bba;
    -fx-background-radius: 20px;
}

#FriendshipRequestsButton{
    -fx-background-color: #003bba;
    -fx-background-radius: 20px;
}

#eventsButton{
    -fx-background-color: #003bba;
    -fx-background-radius: 20px;
}

#settingsButton{
    -fx-background-color: #003bba;
    -fx-background-radius: 20px;
}

#LogoutButton{
    -fx-background-color: #003bba;
    -fx-background-radius: 20px;
}

#mainSettings{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #54aaff, #407cff);
}

#generateButton1{
    -fx-background-color: #3d3dff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Ebrima;
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
}

#generateButton1:hover{
    -fx-background-color: #3500ba;
    -fx-background-radius: 20px;
}

#generateButton2{
    -fx-background-color: #3d3dff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Ebrima;
    -fx-font-size: 15px;
    -fx-background-radius: 10px;
}

#generateButton2:hover{
    -fx-background-color: #3500ba;
    -fx-background-radius: 20px;
}

#dateStart1{
    -fx-background-color: transparent;
}
#dateStart1 .cell{
    -fx-background-color: white;
}
#dateStart1 .cell:hover{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateStart1 .cell:focused{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateStart1 .arrow-button{
    -fx-background-color: #91c8ff;
    -fx-background-radius: 10px;
}
#dateStart1 .arrow-button:hover{
    -fx-background-color: #2693ff
}
#dateStart1 .selected{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateStart1 .selected:focused{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateStart1 .text-field{
    -fx-background-color: #0080ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
}

#dateStart2{
    -fx-background-color: transparent;
}
#dateStart2 .cell{
    -fx-background-color: white;
}
#dateStart2 .cell:hover{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateStart2 .cell:focused{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateStart2 .arrow-button{
    -fx-background-color: #91c8ff;
    -fx-background-radius: 10px;
}
#dateStart2 .arrow-button:hover{
    -fx-background-color: #2693ff
}
#dateStart2 .selected{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateStart2 .selected:focused{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateStart2 .text-field{
    -fx-background-color: #0080ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
}

#dateEnd1{
    -fx-background-color: transparent;
}
#dateEnd1 .cell{
    -fx-background-color: white;
}
#dateEnd1 .cell:hover{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateEnd1 .cell:focused{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateEnd1 .arrow-button{
    -fx-background-color: #91c8ff;
    -fx-background-radius: 10px;
}
#dateEnd1 .arrow-button:hover{
    -fx-background-color: #2693ff
}
#dateEnd1 .selected{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateEnd1 .selected:focused{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateEnd1 .text-field{
    -fx-background-color: #0080ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
}

#dateEnd2{
    -fx-background-color: transparent;
}
#dateEnd2 .cell{
    -fx-background-color: white;
}
#dateEnd2 .cell:hover{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateEnd2 .cell:focused{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#dateEnd2 .arrow-button{
    -fx-background-color: #91c8ff;
    -fx-background-radius: 10px;
}
#dateEnd2 .arrow-button:hover{
    -fx-background-color: #2693ff
}
#dateEnd2 .selected{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateEnd2 .selected:focused{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#dateEnd2 .text-field{
    -fx-background-color: #0080ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
}

#userList{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Constantia;
    -fx-font-size: 13px;
}
#userList .arrow-button{
    -fx-background-color: white;
    -fx-background-radius: 20px;
}
#userList .arrow-button:hover{
    -fx-background-color: #0080ff;
}
#userList .cell{
    -fx-background-color: #0040c9;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-alignment: center;
}
#userList .cell:hover{
    -fx-background-color: #002f94;
    -fx-cursor: hand;
}

.table-view {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: Candara;
}
.table-view .table-column {
    -fx-alignment: center;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to right, #6595BF, #447cc9);
    -fx-background-radius: 20px;
    -fx-padding: 3px;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 3px;
}
.table-row-cell:hover {
    -fx-text-background-color: blue;
}
.table-row-cell:odd{
    -fx-background-color: linear-gradient(to bottom, #ACD7F2, #C2E5F2);
    -fx-background-radius: 0px 0px 20px 20px;
}
.table-row-cell:even{
    -fx-background-color: linear-gradient(to bottom, #C2E5F2, #ACD7F2);
    -fx-background-radius: 20px 20px 0px 0px;
}
.table-row-cell:selected {
    -fx-background-color: wheat;
    -fx-text-background-color: blue;
}

#acceptButton {
    -fx-font-family: Candara;
    -fx-font-weight: bold;
    -fx-background-color: #5917ff;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
#acceptButton:hover{
    -fx-background-color: #3900c9;
}
#declineButton {
    -fx-font-family: Candara;
    -fx-font-weight: bold;
    -fx-background-color: #5917ff;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
#declineButton:hover{
    -fx-background-color: #3900c9;
}

#mainEvents{
    -fx-background-color: linear-gradient(#5f4aff, #7866ff);
}

#panelEvents{
    -fx-background-color: transparent;
}

#CreateEventButton{
    -fx-background-color: linear-gradient(#1486ff, #3697ff);
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Candara;
    -fx-background-radius: 10px;
    -fx-font-size: 26px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}
#CreateEventButton:hover{
    -fx-background-radius: 30px;
    -fx-background-color: linear-gradient(#3697ff, #1486ff);
}

#ShowEventsButton{
    -fx-background-color: linear-gradient(#1486ff, #3697ff);
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Candara;
    -fx-background-radius: 10px;
    -fx-font-size: 26px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}
#ShowEventsButton:hover{
    -fx-background-radius: 30px;
    -fx-background-color: linear-gradient(#3697ff, #1486ff);
}

#EventNameLabel{
    -fx-background-color: #0080ff;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-family: Candara;
    -fx-font-size: 20px;
    -fx-prompt-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}

#DatePicker{
    -fx-background-color: transparent;
}
#DatePicker .cell{
    -fx-background-color: white;
}
#DatePicker .cell:hover{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#DatePicker .cell:focused{
    -fx-background-color: #00468c;
    -fx-text-fill: white;
}
#DatePicker .arrow-button{
    -fx-background-color: #91c8ff;
    -fx-background-radius: 10px;
    -fx-border-color: blue;
    -fx-border-radius: 10px;
}
#DatePicker .arrow-button:hover{
    -fx-background-color: #2693ff
}
#DatePicker .selected{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#DatePicker .selected:focused{
    -fx-background-color: #0080ff;;
    -fx-text-fill: white;
}
#DatePicker .text-field{
    -fx-background-color: #0080ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-background-radius: 10px;
    -fx-font-size: 13px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-prompt-text-fill: white;
}

#AddEventButton{
    -fx-cursor: hand;
    -fx-background-color: #2137ff;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-font-weight: bold;
    -fx-font-family: Cambria;
    -fx-font-size: 24px;
    -fx-border-color: white;
    -fx-border-radius: 10px;
}
#AddEventButton:hover{
    -fx-background-radius: 20px;
    -fx-background-color: #00bfff;
    -fx-text-fill: black;
    -fx-border-radius: 20px;
}

#showOthers:hover{
    -fx-underline: true;
}

#subButton {
    -fx-font-family: Candara;
    -fx-font-weight: bold;
    -fx-background-color: #5917ff;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
#subButton:hover{
    -fx-background-color: #3900c9;
}